name: Gasless Gossip

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build-contracts:
    runs-on: ubuntu-latest
    name: Build contracts
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.11.4"

      - name: Build contracts
        run: scarb build
        working-directory: contracts

  test:
    runs-on: ubuntu-latest
    name: tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.11.4"

      - name: Set up SNForge
        uses: foundry-rs/setup-snfoundry@v3
        with:
          starknet-foundry-version: "0.44.0"

      - name: Run tests
        run: snforge test
        working-directory: contracts
